body {
    background-color: rgba(207, 207, 207, 0.541);
}
p{
    font-size: 16px;
}
.header ul {
    width: 100%; 
    line-height: 40px;
    border-bottom: 0.5px solid rgb(170, 170, 170);
    background-color: rgba(143, 222, 253, 0.582);
    position: relative;
    text-align: center;
}
.header ul li {
    display: inline; 
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 16px;
    color: rgb(41, 40, 40);
}
.header ul li a {
    font-family: "明朝";
}
.header ul li:hover {
    opacity: 0.6;
}
#here {
    border-bottom: 1px solid rgba(255, 0, 0, 0.575);
}
footer div{
    width: 100%; 
    line-height: 40px;
    background-color: rgba(143, 222, 253, 0.582);
    text-align: center;
}
footer p{
    font-size: 14px;
    color: rgb(41, 40, 40);
}
.big_box {
    margin: auto;
    width: 90%;
}
.top_box {
    width: 100%;
    text-align: center;
}
.top_box img {
    width: 60%;
    margin: auto;  
    position: relative;
}
.top_box h3{
    margin: 24px auto 24px auto;
    font-size: 32px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    color: rgba(255, 166, 0, 0.897);
    text-shadow: 2px 2px black;
}
.top_box p{
    text-align: left;
    margin: 24px 16px 16px 16px;
    line-height: 2;
    background-color: rgba(255, 186, 82, 0.116);
    padding: 16px;
    border-radius: 10px;
    color: rgba(43, 37, 37, 0.904);
}
.main_box{
    margin: 64px auto 24px auto;
}
.main_box h3 {
    margin: 16px auto 16px auto;
    width: 90%;
    color:rgba(53, 43, 43, 0.89);
}
.button_div {
}
.submit_button {
    background-color: rgb(90, 212, 253);
    border: 1px solid rgba(240, 173, 48, 0.733);
    color:rgb(24, 24, 36);
    line-height: 2;
    font-size: 14px;
    border-radius: 20px;
    padding: 2px 8px 2px 8px;
    margin: 16px auto 64px 6%; 
}
.submit_button:hover {
    background-color: orange;
    cursor: pointer;
    color:rgb(24, 24, 36);
}


@media screen and (max-width: 750px){
    .top_box h3{
        position: relative;
        font-size: 24px;
    }
}