{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'map/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'map/top.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="TtakVb_j64e-IjJb5A9Juab6jcFWTJsktw3kjJ1dzLg" />
    <title>e-zone 太陽光発電＆災害シミュレーター</title>
</head>
<body>
    <div class="layer">

    </div>
    <div class="title">
        <h1>e-zone<br>太陽光発電＆災害<br>シミュレーター</h1>
    </div>
    <div class="enter">
        <a href="{% url 'home' %}"><h2>e-zoneを使う</h2></a>
    </div>
</body>
</html>